- content_for :header_tags do
  = render_initial_state
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

- content_for :content do
  .public-layout
    - unless @hide_navbar
      .container
        %nav.header
          .nav-left
            = link_to root_url, class: 'brand' do
              = svg_logo_full

          .nav-center

          .nav-right
            - if user_signed_in?
              = link_to t('settings.back'), root_url, class: 'nav-link nav-button webapp-btn'
            - else
              = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn nav-link nav-button'
              = link_to t('auth.register'), available_sign_up_path, class: 'webapp-btn nav-link nav-button'

    .container= yield


= render template: 'layouts/application'
