%tr
  - if @user.admin
    %td
      .input-copy
        .input-copy__wrapper
          %input{ type: :text, maxlength: '999', spellcheck: 'false', readonly: 'true', value: public_invite_url(invite_code: invite.code) }
        %button{ type: :button }= t('generic.copy')

  - if invite.valid_for_use?
    %td
      = fa_icon 'user fw'
      = invite.email
    %td
      = t('invites.table.invite_pending')
    %td
      - if invite.expires_at.nil?
        ∞
      - else
        %time.formatted{ datetime: invite.expires_at.iso8601, title: l(invite.expires_at) }
          = l invite.expires_at
  - elsif invite.redemed?
    %td
      = fa_icon 'user fw'
      = invite.email
    %td
      = t('invites.table.invite_redemed')
    %td
      - if invite.expires_at.nil?
        ∞
      - else
        %time.formatted{ datetime: invite.expires_at.iso8601, title: l(invite.expires_at) }
          = l invite.expires_at
  - else
    %td
      = fa_icon 'user fw'
      = invite.email
    %td
      = t('invites.expired')
    %td

  %td
    - if invite.valid_for_use? && policy(invite).destroy?
      = table_link_to 'times', t('invites.delete'), invite_path(invite), method: :delete
